#root {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}
.main-container {
  position: relative;
}
.img-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  transform: scale(1); /* Proper usage of transform */
  transition: width 1.5s, height 1.5s, transform 1.5s;
  overflow-y: auto; /* Allow vertical scrolling if needed */
  overflow-x: hidden; /* Hide horizontal scroll */
}

.image-main-container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  background-color: black;
}
.info-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-info {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  margin: 20px;
  width: 50%;
}
.content-container {
  position: absolute;
  top: 0;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}
.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  color: white;
}
.heading > div {
  background-color: transparent;
  width: 70%;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 768px) {
  .main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
  }

  .image-main-container {
    position: relative;
    width: 70%;
  }

  .content-container {
    position: relative;
    width: 30%;
  }
  .heading {
    color: black;
    text-align: left;
  }
  .image-info {
    width: 100%;
  }
}
